<p-card class="search-card">
    <p-iconfield>
        <p-inputicon class="pi pi-search" />
        <input type="text" pSize="large" [disabled]="!!facade.selectedDriver()" pInputText placeholder="Buscar por nome ou CPF do motorista..."
            [(ngModel)]="searchValue" (ngModelChange)="onSearchChange($event)" class="search-input" />
    </p-iconfield>

    @if (facade.selectedDriver()) {
        <button class="return-button" (click)="facade.clearSelection()">    
            <fa-icon [icon]="faArrowLeft"></fa-icon>
            Voltar à lista
        </button>
    }
</p-card>
