#container {
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
    padding-top: .5%;
    background-color: #F9FAFB;
    gap: 3rem;

    & .title-box {
        display: flex;
        flex-direction: column;

        & .title {
            font-size: 3rem;
        }

        & .sub-title {
            font-size: 1.4rem;
        }
    }
}