<div id="container">
    <div class="head-box">
        <div class="header-icon">
            <fa-icon [icon]="faFilter"></fa-icon>
        </div>
        <div class="header-text">
            <h3>Filtros</h3>
            <p class="subtitle">Refine sua busca por abastecimentos</p>
        </div>
    </div>
    
    <form [formGroup]="filterForm" class="filters-box">

        <p-select 
            [options]="facade.fuelTypeOptions()"
            optionLabel="label"
            optionValue="value"
            placeholder="Todos os Combustíveis"
            formControlName="fuelType"
            [showClear]="true"
            class="filter-select">
        </p-select>

        <p-select 
            [options]="facade.statesOptions()"
            optionLabel="label"
            optionValue="value"
            placeholder="Todas os Estados"
            formControlName="state"
            [showClear]="true"
            class="filter-select">
        </p-select>
        
        <p-select 
            [options]="facade.cityOptions()"
            optionLabel="label"
            optionValue="value"
            placeholder="Todas as Cidades"
            formControlName="city"
            [showClear]="true"
            class="filter-select">
        </p-select>
        
        <p-select 
            [options]="facade.vehicleTypeOptions()"
            optionLabel="label"
            optionValue="value"
            placeholder="Todos os Veículos"
            formControlName="vehicleType"
            [showClear]="true"
            class="filter-select">
        </p-select>
        
        <button 
            type="submit"
            class="submit-button"
            (click)="applyFilters()"
            [disabled]="filterForm.invalid">
            Aplicar
        </button>

        <button type="button" class="clear-filter-button" (click)="clearFilters()">
            <fa-icon [icon]="faClose"></fa-icon>
        </button>
    </form>
</div>