#container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 1px 3px 0 hsl(210 20% 11% / .08), 0 1px 2px -1px hsl(210 20% 11% / .08);

    & .head-box {
        display: flex;
        gap: 1rem;
        align-items: center;

        & .header-icon {
            width: 48px;
            height: 48px;
            background: #A8E7B6;
            background: linear-gradient(315deg, #A8E7B6, #326F9B);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            fa-icon {
            font-size: 1.7rem;
            color: white;
            }
        }

        & .header-text {
            flex: 1;
            
            h3 {
                font-size: 1.6rem;
                font-weight: 600;
            }
            
            .subtitle {
                font-size: 1rem;
                margin: 0;
            }
        }  
    }

    & .filters-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 2rem;
        height: 3.5rem;

        & .filter-select {
            width: 100%;
            height: 100%;
        }

        & .submit-button {
            border: none;
            border-radius: .6rem;
            color: white;
            width: 100%;
            font-weight: 600;
            background: #A8E7B6;
            background: linear-gradient(315deg, #A8E7B6, #326F9B);
            transition: 150ms;
            cursor: pointer;

            &:hover {
                opacity: .8;
            }
        }
    }
}