#container.dashboard-stats-grid-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

@media (max-width: 768px) {
  #container.dashboard-stats-grid-box {
    grid-template-columns: 1fr;
  }
}