@use "../../../scss/abstracts/variables" as *;

#container {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
    padding: 0rem 10%;
    background-color: rgb(255, 255, 255);

    & .logo-box {
        display: flex;
        gap: 1rem;
        align-items: center;

        & .logo-name-box {
            display: flex;
            flex-direction: column;

            & span {
                font-size: 2.5rem;
                font-weight: 700;
                background: $background-primary;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
    }

    & .user-info-box {
        display: flex;
        gap: 1rem;
        align-items: center;

        & .username-box {
            display: flex;
            flex-direction: column;

            & span {
                font-weight: 500;
            }
        }
    }

    & .sub-title {
        font-weight: 300;
        font-size: 1.3rem;
    }
}