#container {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
    padding: 0rem 10%;
    background-color: rgba(255, 255, 255, 0);

    & .logo-box {
        display: flex;
        gap: 1rem;
        align-items: center;

        & .icon-box {
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: #F9C8A8;
            background: #A8E7B6;
            background: linear-gradient(315deg, #A8E7B6, #326F9B);
            width: 7rem;
            height: 100%;
            font-size: 4rem;
            border-radius: 1rem;
            color: white;
        }

        & .logo-name-box {
            display: flex;
            flex-direction: column;

            & span {
                font-size: 2.5rem;
                font-weight: 700;
            }
        }
    }

    & .user-info-box {
        display: flex;
        gap: 1rem;
        align-items: center;

        & .username-box {
            display: flex;
            flex-direction: column;

            & span {
                font-weight: 500;
            }
        }
    }

    & .sub-title {
        font-weight: 300;
        font-size: 1.3rem;
    }
}