<div id="container">
    <div class="logo-box"> 
        <div class="logo-name-box">
            <span>PetroAnalytics</span>
            <p class="sub-title">Gestão de Combustível</p>
        </div>
    </div>


    <div class="user-box" (click)="menu.toggle($event)">
        <div class="user-content">
            <p-avatar [label]="userInitial()" class="mr-2" size="xlarge" shape="circle" />
            <div class="username-box">
                <span>{{ firstName() }}</span>
                <p class="sub-title">Administrador</p>
            </div>

            <fa-icon [icon]="faAngleDown"></fa-icon>

            <p-tieredMenu styleClass="adjust-menu " #menu [model]="menuUsuarioItems" [popup]="true" />
        </div>
    </div>
</div>

