@use "../../../scss/abstracts/variables" as *;

#container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
    align-items: center;
    padding: 0rem 10%;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    backdrop-filter: blur(1rem);
    z-index: 9000;

    & .logo-box {
        display: flex;
        gap: 1rem;
        align-items: center;

        & .logo-icon-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;
            background: $background-primary;
            border-radius: 1rem;
            color: white;
            font-size: 2rem;
        }

        & .logo-name-box {
            display: flex;
            flex-direction: column;

            & span {
                font-size: 2.5rem;
                font-weight: 700;
                background: $background-primary;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                line-height: 2.9rem;
            }

            & p {
                color: $text-color-secondary;
            }
        }
    }

    & .user-box {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding-left: 1rem;
        border-left: .1rem solid $border-color;


        & .user-content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            border-radius: 1rem;
            border: .2rem solid transparent;
            transition: all 150ms;

            & .icon-box {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                border-radius: 1rem;
                padding: 1rem;
                color: $text-color;
                cursor: pointer;
                &:hover {
                    background-color: #edeff3cc;
                }
            }
        }


        & .username-box {
            display: flex;
            flex-direction: column;

            & span {
                font-weight: 500;
                color: $text-color;
            }

            & p {
                color: $text-color-secondary;
            }
        }
    }

    & .sub-title {
        font-weight: 300;
        font-size: 1.3rem;
        color: $text-color-secondary;
    } 
    
    
}