@use "../../../scss/abstracts/variables" as *;

#container {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
    padding: 0rem 10%;
    background-color: rgb(255, 255, 255);

    & .logo-box {
        display: flex;
        gap: 1rem;
        align-items: center;

        & .logo-name-box {
            display: flex;
            flex-direction: column;

            & span {
                font-size: 2.5rem;
                font-weight: 700;
                background: $background-primary;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
    }

    & .user-box {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: .1rem;
        padding-left: 1rem;
        cursor: pointer;
        border-left: .1rem solid $border-color;


        & .user-content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            border: .2rem solid transparent;
            transition: all 150ms;

            &:hover {
                background-color: #edeff3cc;
            }
        }


        & .username-box {
            display: flex;
            flex-direction: column;

            & span {
                font-weight: 500;
                color: $text-color;
            }

            & p {
                color: $text-color-secondary;
            }
        }
    }

    & .sub-title {
        font-weight: 300;
        font-size: 1.3rem;
        color: $text-color-secondary;
    } 
    
    .adjust-menu {
        margin-left: 1.3rem !important;
    }
}