@use "../../../scss/abstracts/variables" as *;

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding: 0rem 10%;
    color: white;
    background: #A8E7B6;
    background: $background-primary;
}