#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding: 0rem 10%;
    color: white;
    background: #A8E7B6;
    background: linear-gradient(315deg, #A8E7B6, #326F9B);
}