
.chart-card-box {
  height: 100%;
  
  ::ng-deep .p-card-body {
    padding: 1.5rem;
  }

    & .chart-container {
        height: 350px;
        padding: 0 1rem;
    }

    & .loading-state {
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        
        p {
            margin: 0;
            font-size: 0.875rem;
        }
    }

    ::ng-deep {
        .p-chart {
            canvas {
            border-radius: 8px;
            }
        }
    }
}



