<p-card class="chart-card-box">
  <app-card-header
    [icon]="faMapMarkerAlt"
    [title]="'Volume por Estado'"
    [subtitle]="'Total de litros consumidos por estado'">
  </app-card-header>
  
  @if (!facade.loadingKpis()) {
    <div class="chart-container">
        <p-chart type="bar" [data]="chartData()!" [options]="chartOptions" height="350px">
        </p-chart>
    </div>
  } 
  @else {
    <div class="loading-box">
        <p-skeleton width="100%" height="100%" class="mb-2" />
    </div>
  }
  
  
</p-card>