
.chart-card-box {
  height: 100%;
   padding: .75rem;
  
  ::ng-deep .p-card-body {
    padding: 1.5rem;
  }

    & .chart-container {
        height: 350px;
        padding: 0 1rem;
    }

    & .loading-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35rem;
    }


    ::ng-deep {
        .p-chart {
            canvas {
            border-radius: 8px;
            }
        }
    }
}



