.chart-card-box {
  height: 100%;
  
  ::ng-deep .p-card-body {
    padding: 1.5rem;
  }


    & .chart-container {
        height: 400px;
        padding: 0 1rem;
    }

    .loading-state {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}








