<p-card class="chart-card-box">
  <app-card-header
    [icon]="faChartColumn"
    [title]="'Preço Médio por Combustível'"
    [subtitle]="'Média do preço por litro no período'">
  </app-card-header>
  
  @if (chartData()) {
    <div class="chart-container">
      <p-chart 
        type="bar" 
        [data]="chartData()!" 
        [options]="chartOptions"
        height="400px">
      </p-chart>
    </div>
  }
  @else {
    <ng-template #loading>
      <div class="loading-state">
        <p>Carregando dados...</p>
      </div>
    </ng-template>
  }
</p-card>
