<p-card class="chart-card-box">
  <app-card-header
    [icon]="faChartColumn"
    [title]="'Preço Médio por Combustível'"
    [subtitle]="'Média do preço por litro no período'">
  </app-card-header>
  
  @if (!facade.loadingKpis()) {
    <div class="chart-container">
      <p-chart 
        type="bar" 
        [data]="chartData()!" 
        [options]="chartOptions"
        height="400px">
      </p-chart>
    </div>
  } @else {
     <div class="loading-box">
        <p-skeleton width="100%" height="100%" class="mb-2" />
      </div>
    }
</p-card>
