<p-card class="chart-card-box">
  <div class="chart-header">
    <div class="header-icon">
      <fa-icon [icon]="faChartColumn"></fa-icon>
    </div>
    <div class="header-text">
      <h3>Preço Médio por Combustível</h3>
      <p class="subtitle">Média do preço por litro no período</p>
    </div>
  </div>
  
  <div class="chart-container" *ngIf="chartData(); else loading">
    <p-chart 
      type="bar" 
      [data]="chartData()!" 
      [options]="chartOptions"
      height="400px">
    </p-chart>
  </div>

  <ng-template #loading>
    <div class="loading-state">
      <p>Carregando dados...</p>
    </div>
  </ng-template>
</p-card>
