@use '../../../../../scss/abstracts/variables' as *;

#container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 1px 3px 0 hsl(210 20% 11% / .08), 0 1px 2px -1px hsl(210 20% 11% / .08);

    & .filters-box {
        display: grid;
        grid-template-columns:  repeat(5, 1fr) min-content;
        gap: 2rem;
        height: 3.5rem;

        & .filter-select {
            width: 100%;
            height: 100%;
            font-size: 1.15rem;
            border-radius: 1rem;
            background-color: $input-background;
            border-color: $border-color;

            & ::ng-deep .p-select-label {
                display: flex;
                align-items: center;
                font-size: 1.15rem;
            }

            & ::ng-deep .p-select-list {
                font-size: 1.15rem;
            }
        }

        & .submit-button {
            border: none;
            border-radius: 1rem;
            color: white;
            width: 100%;
            font-weight: 600;
            background: #A8E7B6;
            background: linear-gradient(315deg, #A8E7B6, #326F9B);
            transition: 150ms;
            cursor: pointer;

            &:hover {
                opacity: .6;
            }
        }

        & .clear-filter-button {
            border-radius: 1rem;
            color: $text-color-secondary;
            width: 100%;
            font-weight: 600;
            border: .1rem solid $border-color;
            background: $input-background;
            transition: 150ms;
            cursor: pointer;
            width: 5rem;

            &:hover {
                background: white;
            }
        }
    }
}