#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.5rem;

    .chart-wrapper {
        width: 50%;
    }
}

@media (max-width: 768px) {
  #container {
    grid-template-columns: 1fr;
  }
}