
.chart-card-box {
  height: 100%;
  
  ::ng-deep .p-card-body {
    padding: 1.5rem;
  }

    & .chart-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;
        
        & .header-icon {
            width: 48px;
            height: 48px;
            background: #A8E7B6;
            background: linear-gradient(315deg, #A8E7B6, #326F9B);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            fa-icon {
            font-size: 1.7rem;
            color: white;
            }
        }

        & .header-text {
            flex: 1;
            
            h3 {
                font-size: 1.6rem;
                font-weight: 600;
            }
            
            .subtitle {
                font-size: 1rem;
                margin: 0;
            }
        }   
    }

    & .chart-container {
        height: 350px;
        padding: 0 1rem;
    }

    & .loading-state {
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        
        p {
            margin: 0;
            font-size: 0.875rem;
        }
    }

    ::ng-deep {
        .p-chart {
            canvas {
            border-radius: 8px;
            }
        }
    }
}



