<p-card class="chart-card-box">
  <app-card-header
    [icon]="faGasPump"
    [title]="'Top 5 Postos'"
    [subtitle]="'Postos com maior volume de combustível'">
  </app-card-header>
  
  @if (chartData()) {
    <div class="chart-container" >
        <p-chart type="bar" [data]="chartData()!" [options]="chartOptions" height="350px">
        </p-chart>
    </div>
  }
  @else {
    <ng-template #loading>
        <div class="loading-state">
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            <p>Carregando dados...</p>
        </div>
    </ng-template>
  }

  
</p-card>