@use '../../../../../scss/abstracts/variables' as *;

.drivers-card {
    ::ng-deep .p-card-body {
        padding: 0rem;
    }

    & .section-header {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
        border-bottom: .1rem solid $border-color;
        gap: .2rem;

        & h2 {
            font-size: 1.6rem;
            color: $text-color;
            font-weight: 600;
        }

        & p {
            font-size: 1.1rem;
            color: $text-color-secondary;
            margin: 0;
        }
    }

    & .drivers-list {
        display: flex;
        flex-direction: column;

            & .driver-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.25rem;
                cursor: pointer;
                transition: all 0.2s;
                border-bottom: .1rem solid $border-color;

                &:hover {
                    background-color: #edeff333;
                }

                & .driver-info {
                    flex: 1;

                    & h3 {
                        font-size: 1.3rem;
                        font-weight: 600;
                        color: $text-color;
                    }

                    & .cpf {
                        font-size: 1.1rem;
                        color: $text-color-secondary;
                        margin: 0;
                    }
            }

           

            & .driver-count {
                & .count-badge {
                    background:$background-primary;
                    color: white;
                    padding: 0.5rem 1rem;
                    border-radius: 20px;
                    font-size: 0.875rem;
                    font-weight: 600;
                }
            }
        }

         & .paginator-box {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
            }
    }

    

    & .empty-state,
    & .loading-state {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 1rem;
        gap: 1rem;
        color: var(--text-color-secondary);

        & p {
            margin: 0;
            font-size: 0.875rem;
        }
    }

}



