.chart-card-box {
    height: 100%;
    padding: .75rem;

    ::ng-deep .p-card-body, ::ng-deep .p-card-content {
       height: 100%;
    }

    ::ng-deep .p-card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    & .chart-header {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-bottom: 2rem;
        
        & .chart-icon {
            font-size: 2rem;
        }
        
        & h3 {
            font-size: 1.8rem;
            font-weight: 600;
            margin: 0;
        }
    }

    & .chart-container {
        height: 350px;
        margin-bottom: 1.5rem;
    }
}