<p-card class="chart-card-box">
    <div class="chart-header">
        <div class="header-icon">
            <fa-icon [icon]="faPieChart"></fa-icon>
        </div>
        <div class="header-text">
            <h3>Consumo por Tipo de Veículo</h3>
            <p class="subtitle">Distribuição percentual</p>
        </div>
    </div>
    
    <div class="chart-container">
        <p-chart 
        type="doughnut" 
        [data]="chartData()" 
        [options]="chartOptions"
        height="300px">
        </p-chart>
    </div>

    <app-chart-legend [legendItems]="legendItems()"></app-chart-legend>
</p-card>