.chart-card-box {
    height: 100%;
    padding: .75rem;

    ::ng-deep .p-card-body, ::ng-deep .p-card-content {
       height: 100%;
    }

    ::ng-deep .p-card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    & .chart-container {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
    }
}
